<app-loading *ngIf="loading" class="m-5"></app-loading>

<div class="row m-5 animated fadeIn" *ngIf="!loading">
  <div class="col-2">
    <img [src]="artista.images | noimage" class="img-thumbnail img-circle">
  </div>

  <div class="col">
    <h3>{{artista.name}}</h3>
    <p>
      <a [href]="artista.external_urls.spotify"target="_blank">Ir a la Página del Artista</a>
    </p>
  </div>

  <div class="col-4 text-right">
    <button type="button" class="btn btn-outline-danger" routerLink="/search" name="button">Regresar</button>
  </div>

</div>

<div class="row">
    <div class="col">
      <table class="table table-dark">
        <thead class="thead-dark table table-sm">
          <tr>
            <th>Foto</th>
            <th>Album</th>
            <th>Canción</th>
            <th>Vista Previa</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let top of topTracks">
            <td>
              <img [src]="top.album.images | noimage" class="img-thumb">
            </td>
            <td> {{top.album.name}} </td>
            <td> {{top.name}} </td>
            <td>
              <iframe [src]=" top.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
</div>
